<div class="my-font">
  <div class="header">
    <div class="flex-grow-1">
      <div style="border: 2px solid #1e0050">
        <div
          class="d-flex justify-content-center"
          style="padding: 10px; background-color: #1e0050"
        >
          <img
            src="../../../../assets/vw_logo.png"
            style="
              height: 40px;
              width: 40px;
              margin-top: 4px;
              margin-right: 10px;
            "
          />
          <a
            class="link-without-underline"
            routerLink="/"
            style="color: white; text-decoration: none"
          >
            <h1 class="text" style="color: white" (click)="reloadHome()">
              EasyTread
            </h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
